.swiper-button-prev,
.swiper-button-next {
    color: #3152BF;
    width: 48px;
    height: 48px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

/* Mobile */
@media (max-width: 768px) {
    .swiper-button-prev,
    .swiper-button-next {
        top: 45%;
        width: 33px;
        height: 33px;
    }
}

.swiper-button-prev {
    left: 12px;

}
.swiper-button-next {
    right: 12px;
}
